.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #7D5A50;
    padding: 10%;
    input{
        text-align: center;
        padding: 1%;
    }
}
.forma{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50em;
}
.main-contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}