.head-home{
    text-align: center;
    padding: 5%;
    background-color: #E0C097;
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2em;
    }
    p{
        font-size: 1em;
        padding: 5%;
    }

}
.main-home{
    padding: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec-main-home{
    display: flex;
    justify-content: center;
    padding: 5%;
    gap: 5%;
}